# Dependencias
node_modules/
/frontend/dist
/frontend/.vite

# Archivos de entorno
# Ignora los archivos .env en cualquier subdirectorio
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db
